config/ServerConfig.txt
banlist/
maps/

Polyfield_Linux.zip
Polyfield_v*_Linux.x86_64
Polyfield_v*_Linux_Data/

*.log

*.pyc

.DS_Store
Thumbs.db

polyfield/config/
polyfield/maps/
polyfield/banlist/

.vscode/
.idea/

*.txt

docker-compose.yml
